@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Amatic+SC&family=Cinzel&family=Edu+NSW+ACT+Foundation&family=Ibarra+Real+Nova&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Playfair+Display&family=Quicksand:wght@300&family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    height: 100vh;
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgba(95,193,212,1) 26%, rgba(236,226,219,1) 77%);
}
.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: rgba(70,150,141,0.7);
    border-radius: 5px;
    padding: 25px;
}
.wrapper header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}
.wrapper .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputField input{
    width: 85%;
    height: 100%;
    border: 1px solid;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.inputField button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #1f896d;
    color:antiquewhite;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
}
.wrapper .todoList{
    max-height: 250px;
    overflow-y: auto;

}
.todoList li{
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 6px;
    padding: 0;
    cursor: default;
    overflow: hidden;

}
.todoList li span{
    position: absolute;
    right: -45px;
    background: #1f896d;
    color: antiquewhite;
    width: 40px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}
.todoList li:hover span{
    right: 0px;
}
.wrapper .deleteAll{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}
.deleteAll button{
    border: none;
    outline: none;
    background: #1f896d;
    color:antiquewhite;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 10px;
}
